= f.label field.attribute, for: "#{f.object_name}_#{field.attribute_key}"
= f.select(field.attribute_key, f.object, {include_blank: false, include_hidden: false}, { multiple: true, class: 'form-control select2_input' }) do
  = options_for_select(field.associated_resource_options, field.selected_options)